# SQLite3 in Python for Absolute Beginners

Welcome to this step-by-step guide!  
In this notebook, you will learn the absolute basics of using SQLite databases in Python. We will:

1. Connect to an in-memory SQLite database.
2. Create a new table.
3. Insert data into that table.
4. Query (SELECT) data from the table.
5. Filter data using a WHERE clause.
6. Update data in the table.
7. Delete rows from the table.
8. Close the database connection.

All tasks are explained thoroughly, and each code cell comes with instructive comments that "give away" the logic. You just need to fill in the code where indicated.

**Tip:** Press `Shift+Enter` to run a cell after filling in the code.

Let's begin!

## Concept: Connecting to a SQLite Database

We use the built-in `sqlite3` module to connect to a database. If the database file doesn’t exist, SQLite will create it. For our practice, we’ll use an **in-memory** database by passing `':memory:'` which creates a temporary database stored in RAM. It disappears as soon as we close the connection or end the session.

**Goal:**  
- Import the `sqlite3` module.
- Create a connection to an in-memory database.
- Create a `cursor` object from the connection.

In [ ]:
# TASK: Import sqlite3 and connect to an in-memory database.
# HINT: 
#    import sqlite3
#    conn = sqlite3.connect(':memory:')
#    cursor = conn.cursor()

# WRITE YOUR CODE BELOW (uncomment and replace '...' as needed):

# import ...
# conn = ...
# cursor = ...

## Concept: Creating a Table

We will create a simple table called `Employees` with columns:
- ID (Integer, primary key, autoincrement)
- Name (Text)
- Age (Integer)
- Position (Text)

**Goal:**  
- Use the `cursor.execute()` method with a `CREATE TABLE` statement.
- Remember to `commit()` changes to the database.

In [ ]:
# TASK: Create a table named Employees with the specified columns.
# HINT:
#    cursor.execute("""CREATE TABLE Employees (
#        ID INTEGER PRIMARY KEY AUTOINCREMENT,
#        Name TEXT,
#        Age INTEGER,
#        Position TEXT
#    );""")
#    conn.commit()

# WRITE YOUR CODE BELOW:

# cursor.execute(...)
# conn.commit()

## 3. Creating a Cursor

A **cursor** is what we use to execute SQL commands in SQLite.  
Let’s create a cursor object from our database connection.

In [ ]:
# TASK: Create a table named Employees with the specified columns.
# HINT:
#    cursor.execute("""CREATE TABLE Employees (
#        ID INTEGER PRIMARY KEY AUTOINCREMENT,
#        Name TEXT,
#        Age INTEGER,
#        Position TEXT
#    );""")
#    conn.commit()

# WRITE YOUR CODE BELOW:

# cursor.execute(...)
# conn.commit()

## Concept: Inserting Data

We can insert rows into the table using the `INSERT` statement. For example:

```sql
INSERT INTO Employees (Name, Age, Position) VALUES ('Alice', 30, 'Data Scientist');```
Goal:

Insert at least three employees into the Employees table.
Commit the changes after insertion.

In [ ]:

# TASK: Insert three employees with different Names, Ages, and Positions.
# HINT:
#    cursor.execute("INSERT INTO Employees (Name, Age, Position) VALUES ('Alice', 30, 'Data Scientist')")
#    cursor.execute("INSERT INTO Employees (Name, Age, Position) VALUES ('Bob', 45, 'Manager')")
#    cursor.execute("INSERT INTO Employees (Name, Age, Position) VALUES ('Carol', 29, 'Data Analyst')")
#    conn.commit()

# WRITE YOUR CODE BELOW:

# cursor.execute(...)
# cursor.execute(...)
# cursor.execute(...)
# conn.commit()

## Concept: Selecting Data (Basic SELECT)

To view the data we inserted, we use the `SELECT` statement. For example:

```sql
SELECT * FROM Employees;
```
We then use cursor.fetchall() to retrieve all rows returned by the query, or cursor.fetchone() to get one row at a time.

Goal:

Select all columns and all rows from the Employees table.
Print out the results.

In [ ]:

# TASK: Select all rows from Employees and print them.
# HINT:
#    cursor.execute("SELECT * FROM Employees")
#    rows = cursor.fetchall()
#    print(rows)

# WRITE YOUR CODE BELOW:

# cursor.execute(...)
# rows = ...
# print(rows)

## Concept: Filtering with WHERE

We can filter results using the `WHERE` clause. For example, to get employees older than 30:

```sql
SELECT * FROM Employees WHERE Age > 30;

In [ ]:
# TASK: Select employees older than 30.
# HINT:
#    cursor.execute("SELECT * FROM Employees WHERE Age > 30")
#    print(cursor.fetchall())

# WRITE YOUR CODE BELOW:

# cursor.execute(...)
# print(...)

## Concept: Updating Data

We can change existing data using the `UPDATE` statement, typically combined with a `WHERE` clause to specify which rows to update. For example, to change Carol’s age to 30:

```sql
UPDATE Employees SET Age = 30 WHERE Name = 'Carol';
```
Goal:

Update one of the employees’ Age or Position.
Commit the changes.
Re-select the data to confirm the change.

In [ ]:

# TASK: Update the Age of 'Carol' to 30, commit, and then SELECT all rows to check.
# HINT:
#    cursor.execute("UPDATE Employees SET Age = 30 WHERE Name='Carol'")
#    conn.commit()
#    cursor.execute("SELECT * FROM Employees")
#    print(cursor.fetchall())

# WRITE YOUR CODE BELOW:

# cursor.execute(...)
# conn.commit()
# cursor.execute("SELECT * FROM Employees")
# print(cursor.fetchall())

## Concept: Deleting Data

We can remove rows using the `DELETE` statement. For example, to delete Bob:

```sql
DELETE FROM Employees WHERE Name = 'Bob';
Goal:

Delete one employee (by Name or by ID).
Commit the changes.
Re-select all rows to confirm the deletion.

In [ ]:
# TASK: Delete an employee (e.g., the one named 'Bob'), commit, and then SELECT all rows to check.
# HINT:
#    cursor.execute("DELETE FROM Employees WHERE Name='Bob'")
#    conn.commit()
#    cursor.execute("SELECT * FROM Employees")
#    print(cursor.fetchall())

# WRITE YOUR CODE BELOW:

# cursor.execute(...)
# conn.commit()
# cursor.execute("SELECT * FROM Employees")
# print(...)

## Concept: Closing the Connection

Once we are done working with the database, it’s good practice to close the connection:

```python
conn.close()
```
Goal:

Close the connection to the database.

In [ ]:

```python
# TASK: Close the database connection
# HINT:
#    conn.close()

# WRITE YOUR CODE BELOW:

# conn.close()

# Congratulations!

You have successfully:
- Connected to a SQLite database in Python.
- Created a table.
- Inserted data.
- Selected and filtered data.
- Updated existing data.
- Deleted data.
- Closed the connection.

You now know the absolute basics of working with SQLite3 databases in Python. Keep practicing and explore more SQL features to strengthen your skills!